page-osce-scenario-viewer {

    // This means the first paragraph of the OSCE Viewer does not have excess padding ontop
    div > p:first-child {
        margin-top: 0px;
    }

    // Add a bit of padding at the bottom of each li so that text is a bit easier to read!
    .scroll-content ul > li {
        padding-bottom: 0.25em; 
    }

    label {
        display: block;
    }

    .toolbar-ios {
        min-height: 60px;
    }

    .button-container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        button {
            color: #747474;
            flex: 1;
        }

        .active {
            color:#4365e2;
        }

        .bar-button-ios {
            height: 45px;
	    }        

    }

    
}
