<ion-header>

  <ion-navbar>
    <ion-title>Flash Cards</ion-title>
  </ion-navbar>

</ion-header>
<ion-content>
  <ion-list>
    <ion-item-group>
      <ion-item-divider>Sort By</ion-item-divider>
      <ion-item>
        <ion-label>Sort Cards By</ion-label>
        <ion-select [(ngModel)]="sortCardsBy" (ionChange)="onSortOptionChange($event)">
          <ion-option *ngFor="let option of sortByOptions" [value]="option.internal">{{option.title}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Select {{selectedQuery}}</ion-label>
        <ion-select [(ngModel)]="selectedSuboption" multiple="true" (ionChange)="onSuboptionSelect($event)">
          <ion-option *ngFor="let option of sortBySuboptions" [value]="option.internal">{{option.title}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-item-group>
    <ion-item-group>
      <ion-item-divider>Cards</ion-item-divider>
      <!-- The card selector for every card found. -->
      <button ion-item text-wrap *ngFor="let item of foundCards">
        {{ item.title }}
      </button>
    </ion-item-group>
  </ion-list>
</ion-content>