<div class="card-container">
  <div class="flip-container" [class.flip]="isFlipped" [class.fadeOut]="isFadeOut">
    <div class="flipper" [class.noanimate]="isNotAnimating">
      <div class="front" [innerHTML]="activeCard.front | safeHTML" (click)="toggleFlip()" (swipe)="swiped($event)">
        <!-- front content -->
      </div>
      <div class="back" [innerHTML]="activeCard.back | safeHTML" (click)="toggleFlip()" (swipe)="swiped($event)">
        <!-- back content -->
      </div>
    </div>
  </div>
</div>